/*
This is the css file for the project.
*/

.body{
  margin: 1px;
}

#header{

  width: 100%;
  overflow: auto;
  height: 100%;
  background:rgba(47, 114, 183, 0.49);
}

.home_text h1{
  margin-left: 5px;
  margin-top: 0px;
  cursor: pointer;
  display: inline-block;
}

.home_text select{
  display: inline-block;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

.ui-menu{
  width: 300px;
  border-radius: 5px;
}

.ui-menu .ui-menu-item a {
    text-decoration: none;
    display: block;
    padding: 2px .4em;
    line-height: 1.5;
    min-height: 0; /* support: IE7 */
    font-weight: normal;
}


.search_bar{

  width: 800px;
  height: 50px;
  padding-top: 5px;
  margin-top: 23%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.select{

  -webkit-appearance: menulist-button;
  width: 200px;
  height: 30px;
  background-color: white;

}

.search_bar_textbox{

  width: 300px;
  height: 30px;
  vertical-align: middle;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(166, 166, 166);

}

.search_bar_button{

  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-image: url('../images/ic_search_48px-128.png');
  background-size: 100%;
  background-color: white;
  border-radius: 5px;
  border-color: rgb(166, 166, 166);
  border-width: 1px;
}

#search_content{


}

.practice_thumb{

  float: left;
  height: 120px;
  width: 120px;

}

.pbasic_details{

  float: left;
  width: 300px;
  height: 120px;
}

.pother_details{

  float: left;
  width: 300px;
  

}

.cards{
  width: 800px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
}
