doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/master.css')
    link(rel='stylesheet', href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
    script(type='text/javascript', src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/homepage.js')
  body(class='body')
    block header
